footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 100px;
}

.keyboard-row {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.key-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 60px;
  background-color: #d3d6da;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.key-block2 {
  font-size: small;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #d3d6da;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.back-space-icon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
