main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

#timer {
  font-size: large;
  font-weight: bold;
}

.board-row {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
